.radius-table tr th {
    width: 180px;
    font-weight: bold;
    border-top: none;
    border-left: none;
}

.radius-table tr td {
    width: 270px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.radius-table tr:first-child td {
    border-radius: 0 5.5px 0 0;
}

.radius-table tr:first-child th {
    border-radius: 5.5px 0 0 0;
}

.radius-table tr:last-child td {
    border-bottom: none;
    border-radius: 0 0 5.5px 0;
}

.radius-table tr:last-child th {
    border-bottom: none;
    border-radius: 0 0 0 5.5px;
}
