.radius-table tr td {
    width: 280px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.radius-table tr:last-child td {
    border-bottom: none;
}

/* レスポンシブ（タブレット） */
@media screen and (max-width: 959px) {
	
}

/* レスポンシブ（スマホ） */
@media screen and (max-width: 480px) {
    .radius-table {
        width: 100%;
    }
    
    .radius-table tr {
        width: 100%;
    }

    .radius-table tr td {
        width: 100%;
    }
}
