body {
    background-color: rgba(240, 240, 240, 0.772);
}

.header {
    position:relative;
    width: 420px;
    margin-left: 25px;
}

h1 {
    font-family: "MS ゴシック";
    color:rgb(76, 76, 78);
}

.header a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

.main {
    position: absolute;
    left:330px;
    top:130px;
    width:800px;
    height:1000px;
}

.createSalary {
    font-size: 25px;
    font-weight: bold;
}

.createSalary p {
    width: 170px;
    border-bottom: solid;
    border-width: 5px;
    border-color:rgba(22, 79, 185, 0.937);
    padding-bottom: 7px;
}

hr {
    position: absolute;
    top: 64.5px;
    left: 170px;
    width: 300px;
}

table {
    border-collapse: separate;
    width: auto;
    height: auto;
    margin-left: 20px;
    background-color: white;
    border-color: rgb(230, 230, 230);
    font-size: 18px;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgb(76, 76, 78)
}

.radius-table{
    border-radius: 10px;
    border-spacing: 0;
    border: none;
    border-left: 1px solid #999;
    border-top: 1px solid #999;
}
.radius-table tr>*{
    padding: 5px 10px;
    border: none;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}
.radius-table tr:first-child>*:first-child{
    border-radius: 10px 0 0 0;
}
.radius-table tr:first-child>*:last-child{
    border-radius: 0 10px 0 0;
}
.radius-table tr:last-child>*:first-child{
    border-radius: 0 0 0 10px;
}
.radius-table tr:last-child>*:last-child{
    border-radius: 0 0 10px 0;
}

.mainTable {
    text-align: center;
    margin-top: 30px;
}

td {
    height: 60px;
    width: 300px;
}

#createButton {
    background-color: rgb(20, 111, 201);
    width: 300px;
    height:35px;
    margin-top: 40px

}

#createButton:hover {
    background-color: rgb(22, 92, 162);
}

#delete {
    background-color: rgb(222, 71, 71);
    width: 300px;
    height:35px;
    margin-top: 20px

}

#delete:hover {
    background-color: rgb(192, 18, 18);
}

.side {
    position:absolute;
    position: fixed;
    background-color: white;
    left: 0;
    top: 150px;
    width: 200px;
    height: 440px;   
    border: solid;
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: rgb(230, 230, 230);
    box-shadow: 5px 5px 5px rgb(76, 76, 78)
}

.sideContents {
    text-align: center;
}

#className {
    width: 180px;
    margin:0 auto;
    margin-top: 20px;
    border-bottom: solid;
    border-color:rgb(230, 230, 230);
    color:darkblue;
    font-size: 25px;
    font-weight: bold;
}

#newAccount {
    position: relative;
    margin: 0 auto;
    margin-top:35px;
    height: 50px;
    width: 160px;
    font-weight:bold;
    font-size:18px;
}

#newAccount a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

#newAccount p {
    position: absolute;
    top:-6px;
    left:52px;
}

#newAccount p::before {
    content: url(../img/user.svg);
    position: absolute;
    left: -27px;
    top: 0px;
    display: inline-block;
}

#newAccount:hover {
    background-color:rgba(223, 221, 221, 0.577);
    border-radius: 5px;
}

#classInformation {
    position: relative;
    margin: 0 auto;
    margin-top:35px;
    height: 50px;
    width: 160px;
    font-weight:bold;
    font-size:18px;
}

#classInformation a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#classInformation p {
    position: absolute;
    top:-6px;
    left:48px;
}

#classInformation p::before {
    content: url(../img/settings.svg);
    position: absolute;
    left: -26px;
    top: 2px;
    display: inline-block;
}

#classInformation:hover {
    background-color:rgba(223, 221, 221, 0.577);
    border-radius: 5px;
}

#goHome {
    position: relative;
    margin: 0 auto;
    margin-top:35px;
    height: 50px;
    width: 160px;
    font-weight:bold;
    font-size:18px;
}

#goHome a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#goHome p {
    position: absolute;
    top:-6px;
    left:60px;
}

#goHome p::before {
    content: url(../img/home.svg);
    position: absolute;
    left: -27px;
    top: 0px;
    display: inline-block;
}

#goHome:hover {
    background-color:rgba(223, 221, 221, 0.577);
    border-radius: 5px;
}

#goBack {
    position: relative;
    margin: 0 auto;
    margin-top:35px;
    height: 50px;
    width: 160px;
    font-weight:bold;
    font-size:18px;
}

#goBack a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#goBack p {
    position: absolute;
    top:-6px;
    left:69px
}

#goBack p::before {
    content: url(../img/arrow-back.svg);
    position: absolute;
    left: -27px;
    top: 1px;
    display: inline-block;
}

#goBack:hover {
    background-color:rgba(223, 221, 221, 0.577);
    border-radius: 5px;
}
