body {
    background-color: rgba(240, 240, 240, 0.772);
    padding-top: 30px;
    font-family: "ＭＳ 明朝", sans-serif;
}

.createAccount {
    text-align: center;
    color:rgb(76, 76, 78);
    font-size: 25px;
}

.createAccount::before {
    content: "";
    background-image: url(../img/meiko-logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 180px;
    height: 33.75px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.main {
    background-color: white;
    margin:  0 auto;
    padding:50px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 350px;
    border: solid;
    border-color: rgb(230, 230, 230);
    border-radius: 8px;
    text-align: center;
}

.main-title {
    font-size: 18px;
    font-weight: bold;
    color: rgb(76, 76, 78);
    margin-top: 0;
    margin-bottom: 0;
}

form {
    text-align: left;
}

label, input {
    display: block;
    margin-top: 20px; 
}

label {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 15px;
}

input {
    width: 300px;
    height: 35px;
    margin: 0 auto;
    border-color: rgb(230, 230, 230);
    border-width: 1.5px;
    border-radius: 5px;
}  

#createButton {
    background-color: rgb(0, 129, 204);
    width: 300px;
    height:35px;
    margin-top: 30px;
}

#createButton:hover {
    background-color: rgb(0, 109, 184);
}

.goLogin {
    text-align: center;
}

.tradeMark {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 15px;
    opacity: 0.8;
}

/* レスポンシブ（タブレット） */
@media screen and (max-width: 959px) {
	
}

/* レスポンシブ（スマホ） */
@media screen and (max-width: 480px) {
    .main {
        padding: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    input {
        width: 85%;
    }

    label {
        width: 85%;
    }

    #loginButton {
        width: 85%;
    }
}
