<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<title>勤怠管理システム</title>
		<link th:href="@{/css/common.css}" rel="stylesheet">
		<link th:href="@{/css/form.css}" rel="stylesheet">
		<link th:href="@{/css/createForm.css}" rel="stylesheet">
		<script th:src="@{/js/hamburgerMenu.js}" defer></script>
	</head>
	<body>
		<div class="header">
            <h1>
				勤怠管理システム
				<a th:href="@{/indexManager(manager=${manager.id})}"></a>
			</h1>
			<img class="menu-button" src="/img/menu.svg">
        </div>

		<div class="main">
			<div class="subHeader">
				<p>シフト登録</p>
				<hr size="1" color="lightgray">
			</div>
			
			<form th:action = "@{/createForm}" method = "post" th:object = "${workCreateForm}" class="form">
				<div class="formContents">
					<div>
						<div>
							<label for="teacherInfo">氏名</label>
							<div class="inputBlock">
								<input id="teacherInfo" type="text" th:value="${user.userName}" disabled>
							</div>
						</div>
						<div>
							<label for="date">勤務日</label>
							<div class="inputBlock">
								<input id = "date" type = "date" th:field = "*{date}" required>
							</div>
						</div>
						<div>
							<label for="classN">勤務コマ</label>
							<div id="classN" style="display: flex;">
								<input id = "classM" class="checkbox" type = "checkbox" th:field = "*{classM}" value = "true">
								<label for = "classM" class="checklabel">M</label>
								<input id = "classK" class="checkbox" type = "checkbox" th:field = "*{classK}" value = "true">
								<label for = "classK" class="checklabel">K</label>
								<input id = "classS" class="checkbox" type = "checkbox" th:field = "*{classS}" value = "true">
								<label for = "classS" class="checklabel">S</label>
								<input id = "classA" class="checkbox" type = "checkbox" th:field = "*{classA}" value = "true">
								<label for = "classA" class="checklabel">A</label>
								<input id = "classB" class="checkbox" type = "checkbox" th:field = "*{classB}" value = "true">
								<label for = "classB" class="checklabel">B</label>
								<input id = "classC" class="checkbox" type = "checkbox" th:field = "*{classC}" value = "true">
								<label for = "classC" class="checklabel">C</label>
								<input id = "classD" class="checkbox" type = "checkbox" th:field = "*{classD}" value = "true">
								<label for = "classD" class="checklabel">D</label>
							</div>
						</div>
						<div>
							<label for="classTimeDetail">授業業務</label>
							<div id="classTimeDetail" class="subBlock">
								<label for = "timeStart" class="sublabel">開始</label><input id = "timeStart" type = "time" th:field = "*{timeStart}">
								<label for = "timeEnd" class="sublabel">終了</label><input id = "timeEnd" type = "time" th:field = "*{timeEnd}">
							</div>
						</div>
						<div>
							<label for="breakTime">休憩</label>
							<div class="inputBlock">
								<input id = "breakTime" type = "number" th:field = "*{breakTime}" required>
							</div>
						</div>
						<div>
							<label for="carfare">交通費</label>
							<div class="inputBlock">
								<input id = "carfare" type = "number" th:field = "*{carfare}" required>
							</div>
						</div>
					</div>
					<div>
						<hr style="width: 1px; height: 485px; margin-top: 18px; margin-left: 25px; margin-right: 25px;">
					</div>
					<div>
						<div>
							<label for="officeTimeDetail">事務</label>
							<div id="officeTimeDetail" class="subBlock">
								<label for = "officeTimeStart" class="sublabel">開始</label><input id = "officeTimeStart" type = "time" th:field = "*{officeTimeStart}">
								<label for = "officeTimeEnd" class="sublabel">終了</label><input id = "officeTimeEnd" type = "time" th:field = "*{officeTimeEnd}">
							</div>
						</div>
						<div>
							<label for="otherTimeDetail">研修/自習室</label>
							<div id="otherTimeDetail" class="subBlock">
								<label for = "otherWork" class="sublabel">内容</label><input id = "otherWork" type = "text" th:field = "*{otherWork}">
								<label for = "otherTimeStart" class="sublabel">開始</label><input id = "otherTimeStart" type = "time" th:field = "*{otherTimeStart}">
								<label for = "otherTimeEnd" class="sublabel">終了</label><input id = "otherTimeEnd" type = "time" th:field = "*{otherTimeEnd}">
								<label for = "otherBreakTime" class="sublabel">休憩</label><input id = "otherBreakTime" type = "number" th:field = "*{otherBreakTime}" required>
							</div>
						</div>
						<div>
							<label for="helpArea">ヘルプ勤務教室</label>
							<div class="inputBlock">
								<input id = "helpArea" type = "text" th:field = "*{helpArea}">
							</div>
						</div>
					</div>
				</div>

				<div style = "display: none;">
					<input id = "userId" type = "text" th:field = "*{userId}">
					<input id="tax" type="text" name="tax" th:value="${tax}">
				</div>
				<div>
					<input id="submitButton" type = "submit" value = "登録">
				</div>

				<div style="margin-top: 30px;">
					<a th:href="@{/detail(manager=${manager.id}, user=${user.id}, year=${yearNow}, month=${monthNow})}">戻る</a>
				</div>
			</form>
		</div>

		<div class="side">
			<div class="sideContents" id="className">
				<span th:text = "${manager.classArea}"></span>教室
			</div>
	
			<div class="sideContents" id="goHome">
				<p>ホーム</p>
				<a th:href="@{/indexManager(manager=${manager.id})}"></a>
			</div>
	
			<div class="sideContents" id="newAccount">
				<p>講師管理</p>
				<a th:href="@{/detailClass(manager=${manager.id})}"></a>
			</div>

			<div class="sideContents" id="detailSalary">
				<p>給与管理</p>
				<a th:href="@{/detail(manager=${manager.id}, user=${userList.get(0).id}, year=${year}, month=${month})}"></a>
			</div>
	
			<div class="sideContents" id="classInformation">
				<p>アカウント</p>
				<a th:href="@{/infoManager(manager=${manager.id})}"></a>
			</div>
			
			<div class="sideContents" id="logout">
				<p>ログアウト</p>
				<a th:href="@{/loginManager}"></a>
			</div>
		</div>
	</body>
</html>
