<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>明光義塾 勤怠管理システム</title>
		<link th:href="@{/css/detailSalary.css}" rel="stylesheet">
	</head>
	<body>
		<div class="header">
            <h1>明光義塾 勤怠管理システム</h1>
		    <a th:href="@{/index(user=${user.id})}"></a>
        </div>
		<div class="headerClass">
			<span th:text = "${manager.classArea}"></span>教室<br>
		</div>

		<div>
			<a th:href="@{/index(user=${user.id})}">ホーム</a> &gt;
			<a th:href="@{/infoSalary(user=${user.id}, year=${year}, month=${month}, tax=${'off'}, detail=${'off'})}">給与情報</a> &gt;
			<a th:href="@{/detailSalary(user=${user.id}, year=${year}, month=${month})}">給与推移</a>
		</div>

		<div class="main">
			<div class="mainInformation">
				<p>給与推移</p>
		    </div>
				<div class="border">
					<hr size="2" color="lightgray">
				</div>
			<div class="mainTable">
			<table border="1" style="border-spacing: 0;" class="radius-table">
				<tr><th>期間</th><th>コマ給</th><th>事務給</th><th>日時手当</th><th>交通費</th></tr>
				<th:block th:each = "s : ${salaryList}">
					<tr>
						<td th:text = "${s.dateFrom.substring(0, 5).replace('-','/')+s.dateFrom.substring(5,10).replace('-','/')+'〜'}"></td>
						<td th:text = "${'¥'+salaryMapFormatted.get(s.id)[0]}"></td>
						<td th:text = "${'¥'+salaryMapFormatted.get(s.id)[1]}"></td>
						<td th:text = "${'¥'+salaryMapFormatted.get(s.id)[2]}"></td>
						<td th:text = "${'¥'+salaryMapFormatted.get(s.id)[3]}"></td>
					</tr>
				</th:block>
			</table>
			</div>
		</div>
		
		<div class="side">
			<div class="sideContents" id="teacherName">
				<span th:text = "${user.userName}"></span>
			</div>

			<div class="sideContents" id="goHome">
				<p>ホーム</p>
				<a th:href="@{/index(user=${user.id})}"></a>
			</div>

			<div class="sideContents" id="workInfo">
                <p>シフト管理</p>
                <a th:href="@{/info(user=${user.id}, year=${yearNow}, month=${monthNow})}"></a>
            </div>

            <div class="sideContents" id="detailSalary">
				<p>給与情報</p>
				<a th:href="@{/infoSalary(user=${user.id}, year=${yearNow}, month=${monthNow}, tax=${'off'}, detail=${'off'})}"></a>
			</div>
	
			<div class="sideContents" id="teacherInformation">
				<p>アカウント</p>
				<a th:href = "@{/user(user=${user.id})}"></a>
			</div>

			<div class="sideContents" id="goBack">
				<p>戻る</p>
				<a th:href = "@{/infoSalary(user=${user.id}, year=${year}, month=${month}, tax=${'off'}, detail=${'off'})}"></a>
			</div>
		</div>
	</body>
</html>
