<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>明光義塾 勤怠管理システム</title>
		<script th:src="@{/js/display.js}" defer></script>
		<link th:href="@{/css/detailClass.css}" rel="stylesheet">
	</head>
	<body>
		<div class="header">
		    <h1>明光義塾 勤怠管理システム</h1>
		    <a th:href="@{/indexManager(manager=${manager.id})}"></a>
		</div>

		<div>
			<a th:href="@{/indexManager(manager=${manager.id})}">ホーム</a> &gt;
			<a th:href="@{/detailClass(manager=${manager.id})}">講師管理</a>
		</div>

		<div class="main">
			<div class="teacherTable">
				<p>講師管理</p>
			</div>
			<div class="border">
				<hr size="2" color="lightgray">
			</div>
			<div>
				<a th:href="@{/signUp(manager=${manager.id})}">新しく講師を登録</a>
			</div>
			<div>
				<a href="#" class="detail-form-button">講師給フォーム</a>
			</div>
			<div class="mainTable">
			<table border="1" style="border-spacing: 0;" class="radius-table">
				<tr colspan="3" th:each = "u : ${userList}" th:style="'background-color: '+(${u.state} ? 'white' : 'lightgray')">
					<td th:text = "${u.userName}"></td>
					<td class="salaryDetails"><a th:href= "@{/detailUser(manager=${manager.id}, user=${u.id}, year=${year}, month=${month}, tax=${'off'}, detail=${'off'})}"><p>給与管理</p>
					</a></td>
					<td class="information"><a th:href= "@{/infoUser(manager=${manager.id}, user=${u.id})}"><p>基本情報</p></a></td>
				</tr>
			</table>
		    </div>
		</div>

		<div class="detail-form-element" style="display: none; position: fixed; z-index: 1; background-color: aqua; width: 500px; top: 50%; left: 50%; transform: translate(-50%, -50%); box-shadow: 5px 5px 5px rgb(76, 76, 78);">
			<div>
				<a href="#" class="detail-form-button">閉じる</a>
			</div>
			<form th:action="@{/downloadExcelAll}" method="get">
				<div>
					<input type="number" name="year" min="1900" max="2100" th:value="${year}">年
					<select name="month" required>
						<th:block th:if="${month.equals('01')}"><option value="01" selected>1月</option></th:block>
						<th:block th:if="${!month.equals('01')}"><option value="01">1月</option></th:block>
						<th:block th:if="${month.equals('02')}"><option value="02" selected>2月</option></th:block>
						<th:block th:if="${!month.equals('02')}"><option value="02">2月</option></th:block>
						<th:block th:if="${month.equals('03')}"><option value="03" selected>3月</option></th:block>
						<th:block th:if="${!month.equals('03')}"><option value="03">3月</option></th:block>
						<th:block th:if="${month.equals('04')}"><option value="04" selected>4月</option></th:block>
						<th:block th:if="${!month.equals('04')}"><option value="04">4月</option></th:block>
						<th:block th:if="${month.equals('05')}"><option value="05" selected>5月</option></th:block>
						<th:block th:if="${!month.equals('05')}"><option value="05">5月</option></th:block>
						<th:block th:if="${month.equals('06')}"><option value="06" selected>6月</option></th:block>
						<th:block th:if="${!month.equals('06')}"><option value="06">6月</option></th:block>
						<th:block th:if="${month.equals('07')}"><option value="07" selected>7月</option></th:block>
						<th:block th:if="${!month.equals('07')}"><option value="07">7月</option></th:block>
						<th:block th:if="${month.equals('08')}"><option value="08" selected>8月</option></th:block>
						<th:block th:if="${!month.equals('08')}"><option value="08">8月</option></th:block>
						<th:block th:if="${month.equals('09')}"><option value="09" selected>9月</option></th:block>
						<th:block th:if="${!month.equals('09')}"><option value="09">9月</option></th:block>
						<th:block th:if="${month.equals('10')}"><option value="10" selected>10月</option></th:block>
						<th:block th:if="${!month.equals('10')}"><option value="10">10月</option></th:block>
						<th:block th:if="${month.equals('11')}"><option value="11" selected>11月</option></th:block>
						<th:block th:if="${!month.equals('11')}"><option value="11">11月</option></th:block>
						<th:block th:if="${month.equals('12')}"><option value="12" selected>12月</option></th:block>
						<th:block th:if="${!month.equals('12')}"><option value="12">12月</option></th:block>
					</select>
					分
				</div>
				<div>
					<input id="lock" type="checkbox" name="lock" value="true">
					<label for="lock">シートをロックする</label>
				</div>
				<div style="display: none;">
					<input type="text" name="manager" th:value="${manager.id}">
				</div>
				<div>
					<input type="submit" value="ダウンロード">
				</div>
			</form>
		</div>

		<div class="side">
		<div class="sideContents" id="className">
			<span th:text = "${manager.classArea}"></span>教室
		</div>

		<div class="sideContents" id="goHome">
			<p>ホーム</p>
            <a th:href="@{/indexManager(manager=${manager.id})}"></a>
		</div>

		<div class="sideContents" id="newAccount">
			<p>講師管理</p>
			<a th:href="@{/detailClass(manager=${manager.id})}"></a>
		</div>

		<div class="sideContents" id="classInformation">
			<p>アカウント</p>
			<a th:href="@{/infoManager(manager=${manager.id})}"></a>
		</div>
		
		<div class="sideContents" id="goBack">
			<p>戻る</p>
			<a th:href="@{/indexManager(manager=${manager.id})}"></a>
		</div>
		</div>
	</body>
</html>
