<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<title>明光義塾 勤怠管理システム</title>
		<link th:href="@{/css/common.css?v=1.0.0}" rel="stylesheet">
		<link th:href="@{/css/detailClass.css?v=1.0.0}" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/icons/apple-touch-icon.png}">
		<link rel="manifest" th:href="@{/manifest.js?v=1.0.0on}">
		<link rel="icon" th:href="@{/img/icons/favicon.ico}" type="image/x-icon">
		<link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/icons/favicon-16x16.png}">
		<link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/icons/favicon-32x32.png}">
		<link rel="icon" type="image/png" sizes="48x48" th:href="@{/img/icons/favicon-48x48.png}">
		<meta name="theme-color" content="#ffffff">
		<script th:src="@{/js/hamburgerMenu.js?v=1.0.0}" defer></script>
		<script th:src="@{/js/banner.js?v=1.0.0}" defer></script>
	</head>
	<body>
		<div th:if="${bannerMessage}" class="banner">
			<p th:text="${bannerMessage}"></p>
		</div>
		
		<div class="header">
		    <h1>
				勤怠管理システム
				<a th:href="@{/indexManager(manager=${manager.id})}"></a>
			</h1>
			<img class="menu-button" src="/img/menu.svg">
		</div>

		<div class="main">
			<div class="subHeader">
				<p>講師管理</p>
				<hr size="1" color="lightgray">
			</div>

			<div class="subMenu">
				<div class="subMenuContents">
					<p>講師登録</p>
					<a th:href="@{/signUp(manager=${manager.id})}"></a>
				</div>
			</div>

			<div class="mainTable">
				<table border="1" style="border-spacing: 0;" class="radius-table">
					<tr th:each = "u : ${userList}" th:style="'background-color: '+(${u.state} ? 'rgb(249, 249, 249)' : 'rgb(220, 220, 220)')">
						<th><a th:href= "@{/infoUser(manager=${manager.id}, user=${u.id})}"><span th:text = "${u.userName}"></span></a></th>
					</tr>
				</table>
		    </div>
		</div>

		<div class="side">
			<div class="sideContents" id="className">
				<span th:text = "${manager.classArea}"></span>教室
			</div>

			<div class="sideContents" id="goHome">
				<p>ホーム</p>
				<a th:href="@{/indexManager(manager=${manager.id})}"></a>
			</div>

			<div class="sideContents" id="newAccount">
				<p>講師管理</p>
				<a th:href="@{/detailClass(manager=${manager.id})}"></a>
			</div>

			<div class="sideContents" id="detailSalary">
				<p>給与管理</p>
				<a th:href="@{/detail(manager=${manager.id}, user=${firstId}, year=${year}, month=${month})}"></a>
			</div>

			<div class="sideContents" id="classInformation">
				<p>アカウント</p>
				<a th:href="@{/infoManager(manager=${manager.id})}"></a>
			</div>
			
			<div class="sideContents" id="logout">
				<p>ログアウト</p>
				<a th:href="@{/loginManager(banner=${2})}"></a>
			</div>
		</div>
	</body>
</html>
