<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<title>勤怠管理システム</title>
		<link th:href="@{/css/common.css?v=1.0.1}" rel="stylesheet">
		<link th:href="@{/css/index.css?v=1.0.0}" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/icons/apple-touch-icon.png}">
		<link rel="manifest" th:href="@{/manifest.json?v=1.0.0}">
		<link rel="icon" th:href="@{/img/icons/favicon.ico}" type="image/x-icon">
		<link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/icons/favicon-16x16.png}">
		<link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/icons/favicon-32x32.png}">
		<link rel="icon" type="image/png" sizes="48x48" th:href="@{/img/icons/favicon-48x48.png}">
		<meta name="theme-color" content="#ffffff">
		<script th:src="@{/js/hamburgerMenu.js?v=1.0.0}" defer></script>
		<script th:src="@{/js/banner.js?v=1.0.1}" defer></script>
	</head>

	<body>
		<div th:if="${bannerMessage}" class="banner">
			<p th:text="${bannerMessage}"></p>
		</div>

		<div class="header">
            <h1>
				勤怠管理システム
				<a th:href="@{/index(user=${user.id})}"></a>
			</h1>
			<img class="menu-button" src="/img/menu.svg">
        </div>
		<div class="headerClass">
			<span th:text = "${manager.classArea}"></span>教室<br>
		</div>
		
		<div class="main">
			<div class="subHeader">
				<p>ホーム</p>
				<hr size="1" color="lightgray">
		    </div>

			<div>

				<th:block th:each = "s : ${salaryList}">
					<!-- ここから編集対象 -->

					<div style = "display: none;">
						<!-- 配列の詳細：[年, 月, コマ数, コマ数×コマ給（円）, 勤務日数, 時間外勤務(分), 時間外勤務(円), 事務業務(分), 事務業務(円), 研修/自習室(分), 研修/自習室(円), 日時手当（円）, その他（円）, 交通費（円）, 超過勤務（分）, 超過勤務（円）,深夜勤務(分) ,深夜勤務(円) , 差引支給額（円）] -->
						<!--
							s[0]：年
							s[1]：月
							s[18]：差引支給額

							この3つをグラフとして可視化したい！
						-->
						
						<!-- テスト出力（全要素） -->
						<p th:text = "${s[0]+','+s[1]+','+s[2]+','+s[3]+','+s[4]+','+s[5]+','+s[6]+','+s[7]+','+s[8]+','+s[9]+','+s[10]+','+s[11]+','+s[12]+','+s[13]+','+s[14]+','+s[15]+','+s[16]+','+s[17]+','+s[18]}"></p>
					</div>

					<!-- ここまで編集対象 -->
				</th:block>

			</div>
		</div>
		
		<div class="side">
			<div class="sideContents" id="teacherName">
				<span th:text = "${user.userName}"></span>
			</div>

			<div class="sideContents" id="goHome">
				<p>ホーム</p>
				<a th:href="@{/index(user=${user.id})}"></a>
			</div>

			<div class="sideContents" id="workInfo">
                <p>シフト管理</p>
                <a th:href="@{/info(user=${user.id}, year=${year}, month=${month})}"></a>
            </div>

			<div class="sideContents" id="detailSalary">
				<p>給与情報</p>
				<a th:href="@{/infoSalary(user=${user.id}, year=${year}, month=${month}, tax=${'off'})}"></a>
			</div>
	
			<div class="sideContents" id="teacherInformation">
				<p>アカウント</p>
				<a th:href = "@{/user(user=${user.id})}"></a>
			</div>

			<div class="sideContents" id="logout">
				<p>ログアウト</p>
				<a th:href = "@{/login(banner=${2})}"></a>
			</div>
		</div>
	</body>
</html>
