<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>勤怠管理システム</title>
		<link th:href="@{/css/index.css}" rel="stylesheet">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
	</head>

	<body>
		<div class="header">
            <h1>明光義塾 勤怠管理システム</h1>
		    <a th:href="@{/index(user=${user.id})}"></a>
        </div>
		<div class="headerClass">
			<span th:text = "${manager.classArea}"></span>教室<br>
		</div>

		<div>
			<a th:href="@{/index(user=${user.id})}">ホーム</a>
		</div>
		
		<div class="main">
			<div class="mainInformation">
				<p>ホーム</p>
		    </div>
			<div class="border">
				<hr size="2" color="lightgray">
			</div>
			<div>
				<p>内容未定</p>
			</div>
		</div>
		
		<div class="side">
			<div class="sideContents" id="teacherName">
				<span th:text = "${user.userName}"></span>
			</div>

			<div class="sideContents" id="goHome">
				<p>ホーム</p>
				<a th:href="@{/index(user=${user.id})}"></a>
			</div>

			<div class="sideContents" id="workInfo">
                <p>シフト管理</p>
                <a th:href="@{/info(user=${user.id}, year=${year}, month=${month})}"></a>
            </div>

			<div class="sideContents" id="detailSalary">
				<p>給与情報</p>
				<a th:href="@{/infoSalary(user=${user.id}, year=${year}, month=${month}, tax=${'off'}, detail=${'off'})}"></a>
			</div>
	
			<div class="sideContents" id="teacherInformation">
				<p>アカウント</p>
				<a th:href = "@{/user(user=${user.id})}"></a>
			</div>

			<div class="sideContents" id="logout">
				<p>ログアウト</p>
				<a th:href = "@{/login}"></a>
			</div>
		</div>
	</body>
</html>
