<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<title>勤怠管理システム</title>
        <link th:href="@{/css/common.css}" rel="stylesheet">
        <link th:href="@{/css/infoSalary.css}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" th:href="@{/img/icon.ico}">
        <script th:src="@{/js/tax.js}" defer></script>
        <script th:src="@{/js/display.js}" defer></script>
        <script th:src="@{/js/hamburgerMenu.js}" defer></script>
	</head>
	<body>
		<div class="header">
            <h1>
				勤怠管理システム
				<a th:href="@{/index(user=${user.id})}"></a>
			</h1>
			<img class="menu-button" src="/img/menu.svg">
        </div>
		<div class="headerClass">
			<span th:text = "${manager.classArea}"></span>教室<br>
		</div>
		
		<div class="main">
            <div class="subHeader">
                <p>給与情報</p>
                <hr size="1" color="lightgray">
            </div>

            <div class="subMenu">
                <div class="subMenuContents">
                    <p>詳細</p>
                    <a th:href="@{/detailSalary(user=${user.id})}"></a>
                </div>
            </div>
    
            <div class="date">
                <span class="date-main" th:text = "${yearNow+'年'+monthNow+'月'}"></span>
                <span class="date-sub" th:text = "${'('+monthBefore+'/26 - '+monthNow+'/25)'}"></span>
            </div>
    
            <div class= "beforeMonth">
                <p>前月</p>
                <a id="back-button" th:href = "@{/infoSalary(user=${user.id}, year=${yearBefore}, month=${monthBefore}, tax=${tax})}"></a>
            </div>
            <div class= "afterMonth">
                <p>来月</p>
                <a id="next-button" th:href = "@{/infoSalary(user=${user.id}, year=${yearNext}, month=${monthNext}, tax=${tax})}"></a>
            </div>
            
            <div style="margin-top: 10px;">
                所得税
                <input id="tax-on" type="radio" name="tax" value="on"><label for="tax-on">On</label>
                <input id="tax-off" type="radio" name="tax" value="off"><label for="tax-off">Off</label>
                <div style="display: none;">
                    <a id="tax-button" th:href="@{/infoSalary(user=${user.id}, year=${yearNow}, month=${monthNow}, tax=${tax})}"></a>
                </div>
            </div>

            <div class="mainTable">
                <table border="1" style="border-spacing: 0; margin-top: 10px;" class="radius-table">
                    <tr><th>コマ給</th><td>¥<span th:text = "${sumSalaryFormatted[17]}"></span></td></tr>
                    <tr><th>コマ数</th><td><span th:text = "${sumSalaryFormatted[0]}"></span>コマ</td></tr>
                    <tr><th>コマ給×コマ数</th><td>¥<span th:text = "${sumSalaryFormatted[1]}"></span></td></tr>
                    <tr><th>日時手当</th><td>¥<span th:text = "${sumSalaryFormatted[9]}"></span></td></tr>
                    <tr><th>事務</th><td>¥<span th:text = "${sumSalaryFormatted[6]}"></span></td></tr>
                    <tr><th><a href="#" class="detail-salary-button">研修/時間外</a></th><td>¥<span th:text = "${sumSalaryFormatted[18]}"></span></td></tr>
                    <tr><th>その他</th><td>¥<span th:text = "${sumSalaryFormatted[10]}"></span></td></tr>
                    <tr><th>所得税</th><td>¥<span th:text = "${incomeTaxFormatted}"></span></td></tr>
                    <tr><th>交通費</th><td>¥<span th:text = "${sumSalaryFormatted[11]}"></span></td></tr>
                </table>
                <table border="1" style="border-spacing: 0; margin-top: 20px;" class="radius-table">
                    <tr><th>差引支給額</th><td>¥<span th:text = "${sumSalaryFormatted[16]}"></span></td></tr>
                </table>
            </div>
		</div>

        <div class="detail-salary-element detail-panel" style="display: none; width: 300px;">
            <div class="panel-close">
                <a href="#" class="detail-salary-button">
                    <img src="/img/square-x.svg">
                </a>
            </div>
            <table class="panel-table">
                <tr style="font-size: 19px;"><th colspan="2"><div style="margin-bottom: 10px;">研修/時間外 内訳</div></th></tr>
                <tr><th>研修・自習室</th><td><span th:text = "${sumSalaryFormatted[8]+'円/'+sumSalaryFormatted[7]+'分'}"></span></td></tr>
                <tr><th>時間外勤務</th><td><span th:text = "${sumSalaryFormatted[4]+'円/'+sumSalaryFormatted[3]+'分'}"></span></td></tr>
                <tr><th>超過勤務割増</th><td><span th:text = "${sumSalaryFormatted[13]+'円/'+sumSalaryFormatted[12]+'分'}"></span></td></tr>
                <tr><th>深夜勤務割増</th><td><span th:text = "${sumSalaryFormatted[15]+'円/'+sumSalaryFormatted[14]+'分'}"></span></td></tr>
            </table>
        </div>

		<div class="side">
			<div class="sideContents" id="teacherName">
				<span th:text = "${user.userName}"></span>
			</div>

			<div class="sideContents" id="goHome">
				<p>ホーム</p>
				<a th:href="@{/index(user=${user.id})}"></a>
			</div>

			<div class="sideContents" id="workInfo">
                <p>シフト管理</p>
                <a th:href="@{/info(user=${user.id}, year=${year}, month=${month})}"></a>
            </div>

            <div class="sideContents" id="detailSalary">
				<p>給与情報</p>
				<a th:href="@{/infoSalary(user=${user.id}, year=${year}, month=${month}, tax=${'off'})}"></a>
			</div>
	
			<div class="sideContents" id="teacherInformation">
				<p>アカウント</p>
				<a th:href = "@{/user(user=${user.id})}"></a>
			</div>

			<div class="sideContents" id="logout">
				<p>ログアウト</p>
				<a th:href = "@{/login}"></a>
			</div>
		</div>
	</body>
</html>
