<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>明光義塾 勤怠管理システム</title>
        <link th:href="@{/css/common.css}" rel="stylesheet">
        <link th:href="@{/css/infoManager.css}" rel="stylesheet">
        <script th:src="@{/js/confirm.js}" defer></script>
	</head>
	<body>
        <div class="header">
            <h1>明光義塾 勤怠管理システム</h1>
		    <a th:href="@{/indexManager(manager=${manager.id})}"></a>
        </div>
        
        <div class="main">
            <div class="subHeader">
                <p>アカウント</p>
                <hr class="border2" size="2" color="lightgray">
            </div>

            <div style="display: flex;">
                <div style="margin-left: 20px; margin-right: 20px;">
                    <a th:href="@{/editManagerForm(edit=${manager.id})}">アカウント情報修正</a>
                </div>
                <div style="margin-left: 20px; margin-right: 20px;">
                    <a th:href="@{/deleteManager(delete=${manager.id})}" onclick="return deleteConfirm()">アカウント削除</a>
                </div>
            </div>

            <div class="accountTable">
            <table border="1" style="border-spacing: 0;" class="radius-table">
                <tr><th>教室名</th><td th:text="${manager.classArea}"></td></tr>
                <tr><th>ログインID</th><td th:text="${manager.loginId}"></td></tr>
                <tr><th>パスワード</th><td th:text="${manager.password}"></td></tr>
            </table>
            </div>
        </div>

        <div class="side">
            <div class="sideContents" id="className">
                <span th:text = "${manager.classArea}"></span>教室
            </div>

            <div class="sideContents" id="goHome">
                <p>ホーム</p>
                <a th:href="@{/indexManager(manager=${manager.id})}"></a>
            </div>

            <div class="sideContents" id="newAccount">
                <p>講師管理</p>
                <a th:href="@{/detailClass(manager=${manager.id})}"></a>
            </div>

            <div class="sideContents" id="detailSalary">
				<p>給与管理</p>
				<a th:href="@{/detail(manager=${manager.id}, user=${userList.get(0).id}, year=${year}, month=${month})}"></a>
			</div>
    
            <div class="sideContents" id="classInformation">
                <p>アカウント</p>
                <a th:href="@{/infoManager(manager=${manager.id})}"></a>
            </div>
            
            <div class="sideContents" id="logout">
				<p>ログアウト</p>
				<a th:href="@{/loginManager}"></a>
			</div>
        </div>
           
	</body>
</html>
