<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>勤怠管理システム</title>
		<link th:href="@{/css/signUp.css}" rel="stylesheet">
	</head>
	<body>
		<div class="header">
		    <h1>勤怠管理システムfor学習塾</h1>
		    <a th:href="@{/indexManager(manager=${manager.id})}"></a>
		</div>

		<div class="headerClass">
			<span th:text = "${manager.classArea}"></span>教室
		</div>

        <div class="createAccount">
		<h1>新しく講師を登録</h1>
        </div>
		<div class="main">
			<form th:action = "@{/signUp}" method = "post">
				<div>
					<label for = "userName">講師名</label>
					<input id = "userName" type = "text" th:field = "*{userCreateForm.userName}"  required>
				</div>
				<div>
					<label for = "dateFrom">雇用開始日</label>
					<input id = "dateFrom" type = "date" th:field = "*{salaryCreateForm.dateFrom}" required>
				</div>
				<div>
					<label for = "classSalary">コマ給(90分/円)</label>
					<input id = "classSalary" type = "number" th:field = "*{salaryCreateForm.classSalary}" required>
				</div>
				<div>
					<label for = "officeSalary">事務給(60分/円)</label>
					<input id = "officeSalary" type = "number" th:field = "*{salaryCreateForm.officeSalary}" required>
				</div>
				<div>
					<label for = "supportSalary">日時手当(円)</label>
					<input id = "supportSalary" type = "number" th:field = "*{salaryCreateForm.supportSalary}" required>
				</div>
				<div>
					<label for = "carfare">交通費(往復/円)</label>
					<input id = "carfare" type = "number" th:field = "*{salaryCreateForm.carfare}" required>
				</div>
				<div>
					<label for = "loginId">ログインID</label>
					<input id = "loginId" type = "text" th:field = "*{userCreateForm.loginId}" required>
				</div>
				<div>
					<label for = "password">パスワード</label>
					<input id = "password" type = "text" th:field = "*{userCreateForm.password}" required>
				</div>
			    <div>
				    <input id = "createButton" type = "submit" value = "登録" style="border:none; border-radius: 5px; color:white; cursor: pointer;">
			    </div>
				<div style="display: none;">
					<input id="manager" type="text" th:field="*{userCreateForm.classAreaId}">
				</div>
		    </form>
		</div>
		<div class="goHome">
			<a th:href = "@{/indexManager(manager=${manager.id})}">ホームへ戻る</a>
		</div>
	</body>
</html>
