<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<title>勤怠管理システム</title>
		<link th:href="@{/css/common.css}" rel="stylesheet">
		<link th:href="@{/css/form.css}" rel="stylesheet">
		<link th:href="@{/css/updateForm.css}" rel="stylesheet">
	</head>
	<body>
		<div class="header">
            <h1>明光義塾 勤怠管理システム</h1>
		    <a th:href="@{/indexManager(manager=${manager.id})}"></a>
        </div>

		<div class="main">
			<div class="subHeader">
				<p>給与情報</p>
				<hr size="1" color="lightgray">
			</div>
			
			<form th:action = "@{/updateForm}" method = "post" th:object = "${salaryUpdateForm}" class="form">
				<div>
					<label id="teacherInfo" for = "teacher">氏名</label>
					<div class="inputBlock">
						<input id = "teacher" type = "text" th:field = "${user.userName}" disabled>
					</div>
				</div>
				<div>
					<label id = "start" for = "dateFrom">対象期間</label>
					<div class="inputBlock">
						<input id = "dateFrom" type = "date" th:field = "*{dateFrom}" required>
					</div>
				</div>
				<div>
					<label id = "salary" for = "classSalary">コマ給</label>
					<div class="inputBlock">
						<input id = "classSalary" type = "number" th:field = "*{classSalary}" required>
					</div>
				</div>
				<div>
					<label id = "study" for = "officeSalary">事務給</label>
					<div class="inputBlock">
						<input id = "officeSalary" type = "number" th:field = "*{officeSalary}" required>
					</div>
				</div>
				<div>
					<label id = "bonus" for = "supportSalary">日時手当</label>
					<div class="inputBlock">
						<input id = "supportSalary" type = "number" th:field = "*{supportSalary}" required>
					</div>
				</div>
				<div>
					<label id = "transport" for = "carfare">交通費</label>
					<div class="inputBlock">
						<input id = "carfare" type = "number" th:field = "*{carfare}" required>
					</div>
				</div>

				<div style = "display: none;">
					<input id = "id" type = "text" th:field = "*{userId}">
				</div>
				<div>
					<input id = "submitButton" type = "submit" value = "登録">
				</div>

				<div style="margin-top: 30px;">
					<a th:href="@{/infoUser(manager=${manager.id}, user=${user.id})}">戻る</a>
				</div>
			</form>
		</div>

		<div class="side">
			<div class="sideContents" id="className">
				<span th:text = "${manager.classArea}"></span>教室
			</div>
	
			<div class="sideContents" id="goHome">
				<p>ホーム</p>
				<a th:href="@{/indexManager(manager=${manager.id})}"></a>
			</div>
	
			<div class="sideContents" id="newAccount">
				<p>講師管理</p>
				<a th:href="@{/detailClass(manager=${manager.id})}"></a>
			</div>

			<div class="sideContents" id="detailSalary">
				<p>給与管理</p>
				<a th:href="@{/detail(manager=${manager.id}, user=${userList.get(0).id}, year=${year}, month=${month})}"></a>
			</div>
	
			<div class="sideContents" id="classInformation">
				<p>アカウント</p>
				<a th:href="@{/infoManager(manager=${manager.id})}"></a>
			</div>
			
			<div class="sideContents" id="logout">
				<p>ログアウト</p>
				<a th:href="@{/loginManager}"></a>
			</div>
		</div>
	</body>
</html>
