<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>勤怠管理システム</title>
		<link th:href="@{/css/common2.css}" rel="stylesheet">
		<link th:href="@{/css/user.css}" rel="stylesheet">
	</head>
	<body>
		<div class="header">
            <h1>明光義塾 勤怠管理システム</h1>
		    <a th:href="@{/index(user=${user.id})}"></a>
        </div>
		<div class="headerClass">
			<span th:text = "${manager.classArea}"></span>教室<br>
		</div>
		
		<div class="main">
			<div class="subHeader">
				<p>アカウント</p>
				<hr class="border2" size="2" color="lightgray">
            </div>

			<div class="subMenu">
				<div class="subMenuContents">
					<p>修正</p>
					<a th:href="@{/userForm(user=${user.id})}"></a>
				</div>
			</div>

            <div class="accountTable">
				<table border="1" style="border-spacing: 0;" class="radius-table">
					<tr><th>ログインID</th><td><div><span th:text = "${user.loginId}"></span></div></td></tr>
					<tr><th>パスワード</th><td><div><span th:text = "${user.password}"></span></div></td></tr>
				</table>
			</div>
		</div>

		<div class="side">
			<div class="sideContents" id="teacherName">
				<span th:text = "${user.userName}"></span>
			</div>

			<div class="sideContents" id="goHome">
				<p>ホーム</p>
				<a th:href="@{/index(user=${user.id})}"></a>
			</div>

			<div class="sideContents" id="workInfo">
                <p>シフト管理</p>
                <a th:href="@{/info(user=${user.id}, year=${year}, month=${month})}"></a>
            </div>

            <div class="sideContents" id="detailSalary">
				<p>給与情報</p>
				<a th:href="@{/infoSalary(user=${user.id}, year=${year}, month=${month}, tax=${'off'})}"></a>
			</div>
	
			<div class="sideContents" id="teacherInformation">
				<p>アカウント</p>
				<a th:href = "@{/user(user=${user.id})}"></a>
			</div>

			<div class="sideContents" id="logout">
				<p>ログアウト</p>
				<a th:href = "@{/login}"></a>
			</div>
		</div>
	</body>
</html>
