<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<title>勤怠管理システム</title>
		<link th:href="@{/css/common.css?v=1.0.0}" rel="stylesheet">
		<link th:href="@{/css/form.css?v=1.0.0}" rel="stylesheet">
		<link th:href="@{/css/userForm.css?v=1.0.0}" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/icons/apple-touch-icon.png}">
		<link rel="manifest" th:href="@{/manifest.json?v=1.0.0}">
		<link rel="icon" th:href="@{/img/icons/favicon.ico}" type="image/x-icon">
		<link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/icons/favicon-16x16.png}">
		<link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/icons/favicon-32x32.png}">
		<link rel="icon" type="image/png" sizes="48x48" th:href="@{/img/icons/favicon-48x48.png}">
		<meta name="theme-color" content="#ffffff">
		<script th:src="@{/js/hamburgerMenu.js?v=1.0.0}" defer></script>
		<script th:src="@{/js/banner.js?v=1.0.0}" defer></script>
	</head>
	<body>
		<div th:if="${bannerMessage}" class="banner">
			<p th:text="${bannerMessage}"></p>
		</div>
		
		<div class="header">
            <h1>
				勤怠管理システム
				<a th:href="@{/index(user=${user.id})}"></a>
			</h1>
			<img class="menu-button" src="/img/menu.svg">
        </div>
		<div class="headerClass">
			<span th:text = "${manager.classArea}"></span>教室<br>
		</div>

		<div class="main">
			<div class="subHeader">
				<p>アカウント</p>
				<hr size="1" color="lightgray">
		    </div>
			
			<form th:action = "@{/userForm}" method = "post" th:object = "${userUpdateForm}" class="form">
				<div class="formContents">
					<div>
						<div>
							<label for = "loginId">ログインID</label>
							<div class="inputBlock">
								<input id = "loginId" type = "text" th:field = "*{loginId}" required>
							</div>
						</div>
						<div>
							<label for = "password">パスワード</label>
							<div class="inputBlock">
								<input id = "password" type = "text" th:field = "*{password}" required>
							</div>
						</div>
					</div>
				</div>

				<div style = "display: none;">
					<input id = "id" type = "text" th:field = "*{id}">
					<input id = "userName" type = "text" th:field = "*{userName}">
					<input id = "classAreaId" type = "text" th:field = "*{classAreaId}">
					<input id="teacherNo" type="number" th:field="*{teacherNo}">
					<input id="state" type="text" th:field="*{state}">
					<input id="retireDate" type="text" th:field="*{retireDate}">
				</div>

				<div>
					<input id = "submitButton" type = "submit" value = "更新">
				</div>

				<div style="margin-top: 30px;">
					<a th:href="@{/user(user=${user.id})}">戻る</a>
				</div>
			</form>
		</div>

		<div class="side">
			<div class="sideContents" id="teacherName">
				<span th:text = "${user.userName}"></span>
			</div>

			<div class="sideContents" id="goHome">
				<p>ホーム</p>
				<a th:href="@{/index(user=${user.id})}"></a>
			</div>

			<div class="sideContents" id="workInfo">
                <p>シフト管理</p>
                <a th:href="@{/info(user=${user.id}, year=${year}, month=${month})}"></a>
            </div>

            <div class="sideContents" id="detailSalary">
				<p>給与情報</p>
				<a th:href="@{/infoSalary(user=${user.id}, year=${year}, month=${month}, tax=${'off'})}"></a>
			</div>
	
			<div class="sideContents" id="teacherInformation">
				<p>アカウント</p>
				<a th:href = "@{/user(user=${user.id})}"></a>
			</div>

			<div class="sideContents" id="logout">
				<p>ログアウト</p>
				<a th:href = "@{/login(banner=${2})}"></a>
			</div>
		</div>
	</body>
</html>
